<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update Customer</h1>
<a href="/customer/show">Back to list customer</a>
<th:block th:if="message">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/customer/edit}" method="post" th:object="${customer}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table border="1">
        <tr>
            <td>First Name</td>
            <td><input th:type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input th:type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input th:type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Province</td>
            <td><select th:field="*{province}">
                <option th:each="p:${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><input th:type="submit" value="Update Province"></td>
        </tr>
    </table>
</form>
</body>
</html>