.backgroundHome{
    background-image: url(https://thiepmung.com/images/theme/ngam-va-tai-hinh-nen-dep-cho-may-tinh-556444149b46f6.jpg);
    /* background-size: 1000px; */   
}

.text{
    text-align: center;
    padding-top: 50px;
}

.btn {
    float: right;
    margin-right: 150px; 
}

.table{
    border: solid 1px black;
}