<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Delete Province</h1>
<a href="/province/show">List Province</a>
<p></p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="/province/delete" method="post" th:object="${province}">
    <input type="hidden" th:field="*{id}" name="id">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${province.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Province"></td>
        </tr>
    </table>
</form>
</body>
</html>