<button (click)="addBook()" class="btn btn-primary">Add Book</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Act</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of listBook;index as i">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>
                <button (click)="toggleBook(i)">
                    <div *ngIf="book.completed">Đã Đọc</div>
                    <div *ngIf="!book.completed">Chưa Đọc</div>
                </button>
            </td>
            <td>
        <tr>
            <td> <a [routerLink]="['/book/edit',book.id]" >Edit</a> </td>
            <td> <a (click)="deleteBook(i)">Delete</a> </td>
        </tr>
        </td>
        </tr>
    </tbody>
</table>